AOAI_APIKEY = <<your Azure OpenAI Key>>
AOAI_ENDPOINT = <<your Azure OpenAI Endpoint>>
AOAI_CHATCOMPLETION_DEPLOYMENTNAME = <<your Azure OpenAI Chat Completion Model Deployment Name>>
STORAGE_CONNECTION_STRING = <<<our storage connection string>>
STORAGE_CONTAINER_NAME = <<your storage container name>>
