:host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(
      180deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
      90deg,
      var(--orange-red) 0%,
      var(--vivid-pink) 50%,
      var(--electric-violet) 100%
    );

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .app-logo {
    max-width: 3.2rem;
  }

  .details {
    width: 320px; 
    height:48px;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

  .divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
  }

  .pill-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .pill {
    display: flex;
    align-items: center;
    --pill-accent: var(--bright-blue);
    background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
    color: var(--pill-accent);
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    border-radius: 2.75rem;
    border: 0;
    transition: background 0.3s ease;
    font-family: var(--inter-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: -0.00875rem;
    text-decoration: none;
  }

  .pill:hover {
    background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
  }

  .pill-group .pill:nth-child(6n + 1) {
    --pill-accent: var(--bright-blue);
  }
  .pill-group .pill:nth-child(6n + 2) {
    --pill-accent: var(--french-violet);
  }
  .pill-group .pill:nth-child(6n + 3),
  .pill-group .pill:nth-child(6n + 4),
  .pill-group .pill:nth-child(6n + 5) {
    --pill-accent: var(--hot-red);
  }

  .pill-group svg {
    margin-inline-start: 0.25rem;
  }

  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .wide-textbox {
    width: 100%;
    box-sizing: border-box;
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }

  .right-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .right-side .conversation-box {
    flex-grow: 1;
    margin-bottom: 1rem;
    resize: none;
    outline: none;
    min-height: 200px;
  }

  .right-side .input-box {
    height: 2.5rem;
    resize: none;
  }

  .wide-textbox {
    width: 100%;
    box-sizing: border-box;
  }

  .right-side p {
    margin-bottom: 1rem; /* Add margin to the paragraph */
    font-weight: bold;
  }

  .horizontal-container {
  display: flex;
  gap: 1rem; /* Optional: adds space between the buttons */
  }

  .horizontal-container button {
    margin-top: 1rem; /* Optional: adds space above the buttons */
    gap: 1rem; /* Optional: adds space between the buttons */
  }


.model-description {
    margin-bottom: 20px; 
}

.pill {
    margin-bottom: 10px;
  }

.image-post {
    width: 30px; 
    height: 30px; 
    object-fit: none; 
    object-position: -65px -79px; 
    transition: border 0.3s ease;
}

.image-post:hover, 
.image-chart:hover,
.image-camera:hover {
    border: 1px solid #000;
}

.image-chart {
    width: 35px; 
    height: 35px; 
    object-fit: none; 
    object-position: -245px -440px; 
    visibility: hidden;
  }

.image-xls {
    width: 35px; 
    height: 35px; 
    object-fit: none; 
    object-position: -370px -315px;
    visibility: hidden; 
}

.chart-canvas {
    width: 100%; 
    height: 100%; 
}

